.searchContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.searchContainer__Field{
    width: 60rem;
    border-radius: 0.5rem;
    border:1px solid #ACACAC;
    background-color: white;
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:0 0.2rem;
}

.searchContainer__Field-icon {
    display: flex;
    align-items: center;
}

.searchContainer__Field-icon img{
    background-color: var(--color-darkgreen);
    padding: 0.8rem;
    margin: 0.2rem 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.searchContainer__Field-Input{
    border: none;
    width: 100%;
    outline: none;
}

.searchContainer__Field-Input::placeholder{
    font-size: 15px;
}

.searchContainer__Field-Button{
    border: none;
    outline: none;
    background: none;
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
    cursor: pointer;
}

.searchContainer__Field-Button img{
    width: 2.5rem;
}

.toogleButton{
    background-color: var(--color-darkgreen)!important;
    color: var(--color-mint)!important;
}

.toogleIcon{
    font-size: 3rem!important;
}