.searchContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.searchContainer__Field{
    width: 60rem;
    height: 5rem;
    border-radius: 0.5rem;
    border:1px solid #ACACAC;
    background-color: white;
    display: flex;
    align-items: center;
    gap:1rem;
    padding:0 1rem;
}

.searchContainer__Field-icon img{
    background-color: var(--color-darkgreen);
    padding: 0.8rem;
    margin:2px;
}

.searchContainer__Field-Input{
    border: none;
    outline: 1px solid red;
    width: 100%;
}