.Form {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Form__title {
  color: var(--color-darkgreen);
  font-size: 2.5rem;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20rem;
  font-size: 1.5rem;
  gap: 2rem;
}
.formContainer__up {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.formContainer__down {
  display: flex;
  gap: 2rem;
}
.formContainer__input-name {
  width: 40rem;
  height: 4rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color-grey);
  outline: none;
}
.formContainer__input-Lastname {
  width: 40rem;
  height: 4rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color-grey);
  outline: none;
}

.formContainer__input-phone {
  width: 10rem;
  height: 4rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color-grey);
  outline: none;
}
.formContainer__input-email {
  width: 27rem;
  height: 4rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--color-grey);
  outline: none;
}

::placeholder {
  color: var(--color-grey);
}

.formContainer__button  {
  width: 23rem;
  height: 4.5rem;
  margin-top: 2rem;
  background-color: var(--color-green);
  color: var(--color-mint);
  text-transform:uppercase;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.formContainer__button:hover {
  background-color: var(--color-lightgreen);
}