.table-container{
    width: 90rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 3rem !important;
}
.table-cell,
.table-cell-header {
  font-size: 18px !important;
  color: rgba(139, 139, 139, 1) !important;
}

.table-cell-header {
  font-weight: bold !important;
}

.table-cell {
  font-weight: lighter !important;
}

