.newMember{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:3rem;
}

.newMember__checkIcon{
    color:var(--color-green)!important;
    font-size: 7rem!important;
    margin: 7rem 0 3rem 0;
}

.newMember__alert{
    color: var(--color-green);
    font-size: 2.5rem;
    font-weight: 600;
}

.newMember__userNumber{
    color: var(--color-darkgreen);
    font-size: 4rem;
    margin: 2rem 0 7rem 0;
}